extends layout 
block extraHeader 
  link(rel='stylesheet', href='/stylesheets/style_forms.css')
block content
    h1 #{title}
    div(class="form_container")
        form(method = "POST" action= "create")
            div(class ="form-group")
                label(for="title")
                    h6 Name:
                input(type="text" class="form-control" name="name" id="title_id" placeholder="E.g: Ed Sheeran" required=true autocomplete="off")
            
                label(for="imagen_url")
                    h6 Image URL:
                input(type="text" class="form-control" name="imagen_url" id="imagen_url" placeholder="http://..." autocomplete="off")
            
                label(for="date_birth")
                    h6 Date of Birth:
                input(type="date" class="form-control" name="birth_date" id="date_birth" required=true autocomplete="off")
            
                label(for="date_death")
                    h6 Date of Death:
                input(type="date" class="form-control" name="death_date" id="date_death" autocomplete="off")
                br
                button(type="submit" class="btn btn-success") Add