extends layout
block extraHeader 
  link(rel='stylesheet', href='/stylesheets/style_forms.css')
block content 
    div(class="form_container")
        h1 Update #{genre.name}

        form(method = "POST" action= "")
            div(class ="form-group")
                label(for="name")
                    h5 Name: 
                input(type="text", class="form-control" name="name" required= true value=genre.name)
                br

                button(type="submit" class="btn btn-info") Update