extends layout 
block extraHeader 
  link(rel='stylesheet', href='/stylesheets/style_details.css')
  link(rel='stylesheet', href='/stylesheets/style_forms.css')
block content 

    div(class="form_container")
        div
            h1 Are you sure to Delete #{song.name.toUpperCase()} ?
        form(action="", method="POST") 
            div(class ="form-group")
               
                input(type="text" class="form-control" name="password" placeholder="Enter the Password"  autocomplete="off" aria-label="Recipient's username" aria-describedby="basic-addon2")
                br
                button(type="submit" class="btn btn-danger" style="margin-bottom: 3%;") Delete
                br
                div 
                    a(href=song.url class="btn btn-outline-dark" role="button") Cancelar
    
    
